{% extends 'Cosmetics/base.html' %}

{% block content %}
<body>
	<div style="margin-left: 50px; margin-top: 50px;">
		<h6 style="color: white;">Sunt {{ numarProdusePozeVSNrComenzi }} produse care au mai mult de o poza si au fost comandate mai mult de o data</h6>
		<h6 style="color: white;">Sunt {{ numarProduseMedieVSNrReview }} produse ce au o nota medie mai mare de 5 si mai mult de 2 review-uri</h6>
		<h6 style="color: white;">Clientii care au adaugat cel putin un review la cel putin un produs pe care l-au si comandat sunt:
			{% for client in clientii %}
				<spane style="color: wheat;">{{ client.0 }} {{ client.1 }}, </spane>
			{% endfor %}
		</h6>
	</div>
	<div class="container-fluid row row-cols-6 row-cols-md g-5 d-flex" id="carduri">
	</div>
</body>

<script>
	function createInnerCarrousel(current_div, current_nr, paths) {
		// Creare carusel - parinte
		const div = document.createElement('div');
		div.setAttribute('id','carouselId'+current_nr);
		div.setAttribute('class', 'carousel slide card-img-top');
		div.setAttribute('data-bs-ride','carousel');
		div.setAttribute('data-bs-interval', ((Math.random() + 1) * 1000));
		
		// Adaugare butoane control carusel
		let car_indic_div = document.createElement('div');
		car_indic_div.setAttribute('class', 'carousel-indicators');

		paths.forEach((path, index)=>{
			car_indic_div.innerHTML += 
				`
				<button type="button" data-bs-target="#carouselId${current_nr}" data-bs-slide-to="${index}" ${index == 0 ? 'class="active" aria-current="true"' : ""}></button>
				`;
		});
		div.appendChild(car_indic_div);

		// Adaugare imaginmi - componente carusel
		let car_inner = document.createElement('div');
		car_inner.setAttribute('class', 'carousel-inner');
		paths.forEach((path, index) => {
			car_inner.innerHTML += 
				`
				<div class="carousel-item ${index == 0 ? "active" : ""}">
					<img src="${path}" class="d-block w-100 h-100 img-fluid" alt="...">
				</div>
				`;
		});
		div.appendChild(car_inner);
		
		// Adaugare carusel la card
		current_div.appendChild(div);
	}

	function addRow(current_nr, produs, paths) {
		const big_col_div = document.createElement('div');
		big_col_div.className = "col";

		const car_div_img = document.createElement('div');
		car_div_img.setAttribute("class", "card h-100 produs-card");
		createInnerCarrousel(car_div_img, current_nr, paths);

		car_div_img.innerHTML += 
			`
			<div class="card-body">
				<h5 class="card-title"><a class="produs_title" href="./produs?ProdusID=${produs.ProdusId}">${produs.Denumire}</a></h5>
				<h6 class="card-subtitle mb-2 text-muted">${produs.Producator}</h6>
				<p class="card-text text-truncate" style="font-size: 0.85rem;">${produs.Descriere}</p>
				<h6 class="card-text">Pret: ${produs.Pret} RON</h3>
			</div>
			`;
		big_col_div.appendChild(car_div_img);
		document.getElementById('carduri').appendChild(big_col_div);
	}

	$(document).ready(function(){
		let produse = JSON.parse("{{produse|escapejs}}");
		let paths = JSON.parse("{{paths|escapejs}}");
		console.log(produse);
		for(let i in produse){
			let currentProdusPaths = paths.filter(n=>{
				return n.ProdusId == produse[i].ProdusId;
			});
			addRow(i, produse[i], currentProdusPaths.map(curr=>curr.Path))
		}
	});
</script>
{% endblock content %}